{% load django_tables2 %}
<div class="container">
  <div class="row">
    {% block table %}
    <table class="table {% if table.attrs %}{{ table.attrs }}{%endif %}">
      {% block table.thead %}
      <thead>
        <tr>
          {% for column in table.columns %}
          {% if column.orderable %}
          <th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a></th>
          {% else %}
          <th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
          {% endif %}
          {% endfor %}
        </tr>
      </thead>
      {% endblock table.thead %}

      {% block table.tbody %}
      <tbody>
        {% for row in table.page.object_list|default:table.rows %}
        {% block table.tbody.row %}
        <tr>
          {% for column, cell in row.items %}
          <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
          {% endfor %}
        </tr>
        {% endblock table.tbody.row %}
        {% empty %}
        {% if table.empty_text %}
        {% block table.tbody.empty_text %}
        <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
        {% endblock table.tbody.empty_text %}
        {% endif %}
        {% endfor %}
      </tobdy>
      {% endblock table.tbody %}

      {% block table.tfoot %}
      <tfoot></tfoot>
      {% endblock table.tfoot %}
    </table>
    {% endblock table %}

    {% if table.page %}
    <div class="container text-center">
      <ul class="pagination pagination-sm">
        {% if table.page.has_previous %}
        <li><a href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><a href="#">&laquo;</a></li>
        {% endif %}

        {% for i in table.paginator.page_range %}
        {% if i == table.page.number %}
        <li class="active"><a href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
        {% else %}
        <li><a href="{% querystring table.prefixed_page_field=i %}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        {% if table.page.has_next %}
        <li><a href="{% querystring table.prefixed_page_field=table.page.next_page_number %}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}

      </ul>
    </div>
    {% endif %}
  </div>
</div>
